<div id="livechat-container">
    <div class="panel panel-default">
        <div class="panel-heading">
            Let's Chat
        </div>
        <div class="panel-body">
            <ul class="chat" id="history"></ul>
            <div class="text-center" id="loadhistory">
                <i class="sync icon"></i>
                <p>load history</p>
            </div>
            <ul class="chat" id="output"></ul>
            <div class="wow fadeOut animated" data-wow-delay="400ms" data-wow-iteration="infinite" data-wow-duration="2s" id="feedback"></div>
        </div>

        <div class="panel-footer">
            <div class="ui form">
                <div class="fields">
                    <div class="twelve wide field">
                        <input type="text" placeholder="Type a message here" id="message" />
                    </div>
                    <div class="four wide field">
                        <button class="fluid ui red button" id="send">Send</button>
                    </div>
                </div>
            </div>
            <span id="error"></span>
        </div>
    </div>
</div>

<script>
    export default {
        oncreate: function () {
            var btn = document.getElementById('send'),
                message = document.getElementById('message'),
                output = document.getElementById('output'),
                feedback = document.getElementById('feedback'),
                color = document.getElementById('yourcolor'),
                colorAva = document.getElementById('colorAva'),
                history = document.getElementById('history'),
                loadhistory = document.getElementById('loadhistory');

            $("#history").hide();
            this.getHistoryChat();

            loadhistory.addEventListener('click', function() {
                $("#history").show();
                $("#loadhistory").hide();
            })
                
            btn.addEventListener('click', function() {
                this.sendMessage();
            }.bind(this));

            message.addEventListener('keypress', function() {
                socket.emit('typing'); 
            })

            //Listen event
            socket.on('whisper', function(data) {
                this.renderListsms(data, 1);
            }.bind(this));

            socket.on('chat', function(data) {
                this.renderListsms(data, 0);
            }.bind(this));

            socket.on('typing', function(data) {
                feedback.innerHTML = `<p><em>` + data + ` is typing message....</em></p>`
            });
            
            socket.on('error', function(data) {
                document.getElementById('error').innerHTML = data.message;
            });
        },
        ondestroy: function (){
            btn.removeEventListener("click", function(){});
            loadhistory.removeEventListener("click", function(){});
            message.removeEventListener("keypress", function(){});
        },
        methods: {
            sendMessage: function() {
                socket.emit('chat', {
                    message: message.value,
                    color: colorAva.value
                })

                message.value = '';
            },
            renderListsms: function(data, type) {
                let color = data.color.replace('#','');
                feedback.innerHTML = '';
                output.innerHTML += `<li class="left clearfix">
                    <span class="chat-img pull-left">
                        <img src="http://placehold.it/50/`+ color +`/fff&text=`+ data.handle.substring(0, 1) +`" alt="User Avatar" class="img-circle" />
                    </span>
                    <div class="chat-body clearfix">
                        <div class="header">
                            <strong class="primary-font">`+ data.handle +`</strong>
                            <small class="pull-right text-muted">
                                <span class="calendar alternate outline"></span>&nbsp;` +moment().calendar()+ `
                            </small>
                        </div>
                        <p>
                            `+ data.message +`
                        </p>
                    </div>
                </li>`;
            },
            getHistoryChat: function() {
                axios.get('/all').then(function (res) {
                    let history = document.getElementById('history');
                    if(res.data){
                        let messages = res.data;
                        Object.keys(messages).map(function(objectKey, index) {
                            var data = objectKey.split("-");
                            let color = data[3].replace('#','');
                            var value = messages[objectKey];
                            
                            history.innerHTML += `<li class="left clearfix">
                                <span class="chat-img pull-left">
                                    <img src="http://placehold.it/50/`+ color +`/fff&text=`+ data[2].substring(0, 1) +`" alt="User Avatar" class="img-circle" />
                                </span>
                                <div class="chat-body clearfix">
                                    <div class="header">
                                        <strong class="primary-font">`+ data[2] +`</strong> 
                                        <small class="pull-right text-muted">
                                            <span class="calendar alternate outline"></span>&nbsp;` +data[4]+ `
                                        </small>
                                    </div>
                                    <p>
                                        `+ value +`
                                    </p>
                                </div>
                            </li>`;
                        });
                    }else {
                        console.log('History is empty');
                    }
                }.bind(this));
            }
        }
    };
</script>