<div class="column">
    <form class="ui form tall stacked segment">
        <div class="field">
            <span class="ui ribbon label">Login Chat</span>
            <div class="ui right labeled left icon input">
                <i class="wifi icon"></i>
                <input type="text" name="your name" placeholder="Your Name" id="yourname">
                <span class="ui tag label"><i class="keyboard icon" style="margin: 0"></i></span>
            </div>
        </div>
        <div class="field">
            <div class="ui right labeled left icon input">
                <i class="tint icon"></i>
                <input type="color" placeholder="Chose your color" id="yourcolor" >
                <span class="ui tag label"><i class="sliders horizontal icon" style="margin: 0"></i></span>
            </div>

        </div>
        <button class="mini ui button fluid grey" type="button" id="go">Go chat</button>
        <div class="ui label fluid text-center" style="margin: 0" id="messError">
            <i class="user outline icon"></i> {messError}
        </div>

    </form>
</div>

<script>
    export default {
        oncreate: function () {
            $('#messError').hide();
            var btn = document.getElementById('go'),
                input = document.getElementById('yourname'),
                color = document.getElementById('yourcolor');

            btn.addEventListener('click', function () {
                if (input.value === '') {
                    this.set({
                        messError: 'Missing Name dude!!'
                    });
                    $('#messError').show();
                } else {
                    let obj = {name: input.value, color: color.value};
                    this.checkUser(obj);
                }
                    
            }.bind(this));
            
            socket.on('usersucess', function(data){
                $("#app").show();
                $("#login").hide();
            });

            socket.on('userexist', function(data){
                alert(data);
            });
        },
        ondestroy: function () {
            btn.removeEventListener("click", function () {});
        },
        data: function () {
            return {
                messError: ''
            };
        },
        methods: {
            checkUser: function(obj){
                axios.get('/check/?name=' + obj.name).then(function (res) {
                    if(res.data.flag === 1){
                        alert(res.data.meassge);
                    }else {
                        socket.emit('new user', {username: obj.name, color: obj.color});
                    }
                }.bind(this));
            }
        }
    };
</script>