<div class="ui piled segment">
    <div class="ui sixteen wide column text-center">
        <p>User Online </p>
        <span class="ui orange big circular label">{count}</span>
    </div>
    <ul class="chat" id="nameList"></ul>
    
    <input type="hidden" id="colorAva" value="#fff">
</div>


<script>
    var socket = io();
    export default {
        oncreate: function () {
            let self = this;
            var nameFrom = document.getElementById('nameForm'),
                btnRes = document.getElementById('btnRes'),
                nameList = document.getElementById('nameList'),
                handle = document.getElementById('handle'),
                colorAva = document.getElementById('colorAva');

            socket.on('username', function (data) {
                if (data && data.length > 0) {
                    // handle.value = data[data.length - 1].name;
                    // colorAva.value = data[data.length - 1].color;
                    self.set({
                        count: data.length
                    })
                    self.renderList(data);
                } else
                    console.log('miss data');
            });
        },
        ondestroy: function () {

        },
        data: function () {
            return {
                count: 0
            };
        },
        methods: {
            renderList: function (data) {
                nameList.innerHTML = '';
                data.forEach(item => {
                    nameList.innerHTML += `<li><p>` + item +`</p></li>`;
                    // nameList.innerHTML += `<li>
                    //     <small>` + item.id +
                    //     `</small>
                    //     <p>
                    //         <i class="user circle icon" style="color: ` +
                    //     item.color + `" ></i> 
                    //         ` + item.name +
                    //     `
                    //     </p> 
                    // </li>`;
                });
            }
        }
    };
</script>